<div>
  <mat-form-field>
    <input matInput
           type="number"
           [(ngModel)]="firstInputValue"
           (ngModelChange)="setValue(2)"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      Currency
    </mat-label>

    <mat-select [(value)]="firstInputCurrency" (selectionChange)="setValue(1)">
      <mat-option value="UAH">
        UAH
      </mat-option>
      <mat-option value="USD">
        USD
      </mat-option>
      <mat-option value="EUR">
        EUR
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           type="number"
           [(ngModel)]="secondInputValue"
           (ngModelChange)="setValue(1)"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Currency
    </mat-label>

    <mat-select [(value)]="secondInputCurrency" (selectionChange)="setValue(1)">
      <mat-option value="UAH">
        UAH
      </mat-option>
      <mat-option value="USD">
        USD
      </mat-option>
      <mat-option value="EUR">
        EUR
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
