mat-toolbar{
  max-height: 5rem;
  display: flex;
  justify-content: space-between;
  background-color: #3f51b5;
  color: white;
}
.header-currency-group{
  display: flex;
  gap: 1rem;
}
.toolbar-name{
  display: none;
}

@media(min-width: 600px){
  .toolbar-name{
    display: block;
  }
}



