header{
  max-height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #3f51b5;
  color: white;
}
.header-currency-group{
  display: flex;
  gap: 1rem;
}

